@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s all;
}