body {
  height: 300rem;
}

section {
  padding: 5rem 9%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #130f40;
  margin-bottom: 1.5rem;
}

.heading span {
  color: #e67e22;
}

.btn {
  display: inline-block;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  color: #130f40;
  background-color: none;
  overflow: hidden;
  font-size: 1.8rem;
  margin-top: 1rem;
  border: 0.1rem solid #130f40;
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

.btn:hover {
  background-color: #130f40;
  color: #fff;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #e67e22;
  border-radius: 5rem;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.header.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header .logo {
  font-size: 2.5rem;
  color: #130f40;
}

.header .logo i {
  color: #e67e22;
}

.header .navbar a {
  font-size: 1.8rem;
  color: #666;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #e67e22;
}

.header .icons div, .header a {
  font-size: 2.5rem;
  color: #130f40;
  margin-left: 1.5rem;
}

.header .icons div:hover, .header a:hover {
  color: #e67e22;
}

.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}

.header .login-form.active {
  display: block;
  -webkit-animation: fadeIn .6s linear;
          animation: fadeIn .6s linear;
}

.header .login-form h3 {
  font-size: 2.3rem;
  color: #130f40;
}

.header .login-form .input {
  border-bottom: 2rem solid #130f40;
  border-width: .1rem;
  padding: 1.5rem 0;
  color: #130f40;
  margin: 1rem 0;
  width: 95%;
}

.header .login-form .btn {
  width: 95%;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.3rem;
}

.header .login-form .remember label {
  font-size: 1.5rem;
}

.header .login-form .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.header .login-form .links a {
  font-size: 1.3rem;
  color: #130f40;
}

.header .login-form .links a:hover {
  color: #e67e22;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(image/home_bg_img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home .content {
  width: 50rem;
}

.home .content h2 {
  font-size: 6rem;
  color: #fff;
}

.home .content h2 span {
  color: #e67e22;
}

.home .content .btn {
  color: #fff;
  border-color: #fff;
  margin-top: 2rem;
}

.home .content .btn:hover {
  color: #fff;
  background-color: #130f40;
  border-color: #130f40;
}

.home .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content h3 {
  font-size: 5rem;
  color: #130f40;
}

.about .content h3 span {
  color: #e67e22;
}

.about .content p {
  font-size: 1.6rem;
  color: #666;
  line-height: 2;
}

.about .content .btn {
  margin-top: 2rem;
}

.dog-food, .cat-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.dog-food .image, .cat-food .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.dog-food .image img, .cat-food .image img {
  width: 100%;
}

.dog-food .content, .cat-food .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
}

.dog-food .content h3, .cat-food .content h3 {
  font-size: 4rem;
  color: #130f40;
}

.dog-food .content h3 span, .cat-food .content h3 span {
  color: #e67e22;
}

.dog-food .content p, .cat-food .content p {
  font-size: 1.6rem;
  color: #666;
  line-height: 2;
}

.dog-food a img, .cat-food a img {
  height: 15rem;
  margin-top: 1.5rem;
}

.dog-food a:hover img, .cat-food a:hover img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.dog-food .amount, .cat-food .amount {
  font-size: 2rem;
  color: #e67e22;
}

.shop .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.shop .box-container .box {
  position: relative;
  overflow: hidden;
}

.shop .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .box-container .box:hover .icons {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.shop .box-container .box .image {
  height: 45rem;
  width: 100%;
  overflow: hidden;
}

.shop .box-container .box .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.shop .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.shop .box-container .box .icons a {
  font-size: 2.5rem;
  display: block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  background-color: #fff;
  color: #130f40;
  margin-bottom: .8rem;
  border-radius: 5px;
}

.shop .box-container .box .icons a:hover {
  background-color: #e67e22;
  color: #fff;
}

.shop .box-container .box .content {
  margin: 1rem 0;
  text-align: center;
}

.shop .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #130f40;
}

.shop .box-container .box .content .amount {
  color: #e67e22;
  font-size: 2rem;
  text-align: center;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background-color: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
}

.services .box-container .box:hover {
  border-radius: 20px;
}

.services .box-container .box i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 3rem;
  color: #fff;
  background-color: #e67e22;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
  color: #130f40;
  margin-bottom: .5rem;
}

.plan .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.plan .box-container .box {
  position: relative;
  padding: 2rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  background-color: #eee;
}

.plan .box-container .box .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
}

.plan .box-container .box .title {
  color: #e67e22;
  font-size: 3rem;
  text-align: center;
}

.plan .box-container .box .day {
  color: #130f40;
  font-size: 4.2rem;
  text-align: center;
}

.plan .box-container .box i {
  font-size: 4rem;
  color: #e67e22;
}

.plan .box-container .box .list {
  margin: 1rem 0;
}

.plan .box-container .box .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  color: #130f40;
  padding: 1rem;
}

.plan .box-container .box .list p span {
  color: #e67e22;
}

.plan .box-container .box .amount {
  font-size: 4rem;
  color: #130f40;
  font-weight: bolder;
}

.plan .box-container .box .amount span {
  font-size: 4.5rem;
}

.contact {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem 7%;
}

.contact form h3 {
  font-size: 3rem;
  color: #130f40;
}

.contact form .input, .contact form textarea {
  width: 95%;
  padding: 2rem 0;
  border-bottom: 2rem solid #130f40;
  border-width: .1rem;
  color: #130f40;
  font-size: 1.7rem;
  margin: 1rem 0;
}

.contact form textarea {
  height: 12rem;
  resize: none;
}

.contact form .btn {
  width: 95%;
}

.contact form .btn:disabled {
  border: none;
  background-color: #818181;
  color: #fff;
}

.footer {
  position: relative;
  background: url(image/footer_background.jpg) no-repeat;
  background-position: center;
  background-size: center;
  padding: 15rem 0 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer img {
  position: absolute;
  top: 0;
  left: 0;
  height: 10rem;
  width: 100%;
}

.footer .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer .share a {
  display: inline-block;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  color: #fff;
  background-color: none;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: lighter;
  margin-top: 1rem;
  border: 0.1rem solid #fff;
  -webkit-transition: .9s ease;
  transition: .9s ease;
}

.footer .share a:hover {
  background-color: #fff;
  color: #130f40;
}

.footer .credit {
  font-size: 1.5rem;
  color: #fff;
}

.footer .credit span {
  font-size: 1.8rem;
  color: #e67e22;
}

#menu {
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    -webkit-transition: .8s ease;
    transition: .8s ease;
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2.3rem;
  }
  #menu {
    display: inline-block;
  }
  .home {
    background-position: right;
  }
  .home .content {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */